#about h1 {
    font-family: 'Dosis',sans-serif;
    padding-bottom:4rem;
    font-weight: 320;
    font-size:2rem;
}

.section_name{
    margin: 5vw;
    margin-bottom: 3vh;
    margin-left: 3vw;
    font-size: 40px;
    font-weight:500;
    letter-spacing: 2px;
    line-height: 2rem;
    padding-bottom: 4vh;
    color: white;
    font-family: granville;
}

.newsposts{
    /* height: 700px; */
    /* border: .5px solid; */
    /* background-color: green; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 28vw;
    margin-left: 3vw;
    margin-right: 2vw;
    margin-top: 0;
    margin-bottom: 5vh;
    float: left;
}

/* .post_text{
    padding: 2%;
    margin-left: 3vw;
    margin-right: 2vw;
} */

.post_title{
    /* padding: 2%; */
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    padding-bottom: 0;
    border-top-left-radius: 5px;
    font-size: 22px;
    font-family: granville;
}

.newsposts:hover{
    box-shadow: 0 16px 25px 0 rgba(0,0,0,0.2);
    cursor: pointer;
}

/* .post_image{
    background-size: contain;
    width: max-content;
    max-height: 20vh;
} */

.post_image{
    background-size: cover;
    width: 100%;
}

.post-content {
    position: relative;
  }
  
.post_date {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    border-top-left-radius: 5px;
    font-size: 15px;
    font-family: granville;
  }

.post_hr{
    border-color: black;
}

#about {
    margin-top:6rem;
    text-align:center;
    display:grid;
    width:80%;
    margin: 0 auto;   
}

.list_page{
    color:white;
}

/* .allposts{
    background-color: rgb(19, 19, 10);
    height:100vh;
    width:100vw;
    position: static;
} */

.post_card{
    margin: 1px solid;
}
.post_desc{
    font-size: 20px;
}
.individual{
    height: 100vh;
}
.individual_post{
    padding: 4%;
    padding-bottom: 2%;
}
.individual_post>img{
    height: 35vh;
    width: auto;
}
.back_to_list{
    padding: 1% 0 0 2%;
}
.back_to_list:hover {
    cursor: pointer;
}
.individual_post_title, .individual_post_hr{
    margin-bottom: 4vh;
}
.individual_post_desc{
    margin-top: 2%;
}

#intro {
    margin:0 auto;
    width:100%;
    text-align:left;
}

#intro h1 {
    margin:3rem auto;
    width:80%;
    font-weight: 320;
}

#intro p {
    margin:5rem auto;
    font-family:'Dosis',sans-serif;
    font-size:1.1rem;
    width:75%;
    font-weight: 300;
    text-align: left;
}

#about h2 {
    margin-top:2rem;
    font-family:'Dosis',sans-serif;
    font-size:1.7rem;
    font-weight: 400;
}

#about h3 {
    margin-top:1rem;
    font-size:1rem;
    font-weight:300;
}

#about h4 {
    font-size:0.9rem;
    font-weight:50;
    width:80%;
    margin: 1rem auto;
    margin-bottom:6rem;
    letter-spacing: 1px;
    line-height:25px;
}

.individual_post_title, .post_title{
    margin-bottom: 1.5vh;
}

.individual_post_hr, .post_hr{
    margin-bottom: 1.5vh
}

@media screen and (max-width: 750px){

    #intro p{
        font-size:1rem;
        margin-bottom:3rem;
        margin-top:2rem;
        width:80%;
    }

    #about h1 {
        margin-bottom:4rem;
        font-weight: 200;
        font-size:2rem;
    }
    
    #about {
        margin-top:6rem;
        text-align:center;
        display:block;
        width:100%;
        margin: 0 auto;
        
    }
    
    #about h2 {
        margin-top:2rem;
        font-family:'Dosis',sans-serif;
        font-size:1.4rem;
        font-weight: 200;
    }
    
    #about h3 {
        margin-top:-1rem;
        font-size:1rem;
        font-weight:100;
    }

    #about h4 {
        font-size:0.9rem;
        font-weight:100;
        width:80%;
        margin: 1rem auto;
        margin-bottom:5rem;
        letter-spacing: 2px;
        line-height: 20px;
    }

    
    #about h1 {
        margin-bottom:3rem;
        grid-row:1;
        grid-column-start:none;
        grid-column-end:none;
        grid-column:1;
    }
    
    #about div {
        margin: 0 auto;
    }

    .newsposts{
        max-width: 100vw;
        height: 500px;
        margin-right: 6.5vw;
    }
}