.App {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lora', serif;
  font-weight: 100;
}

.App-header {
  background-color: #282c34;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text {
  margin-bottom: 10px; /* Adjust spacing between text and loader */
}

.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #282c34; 
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  animation: spin 2s linear infinite;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  width: 24em;
  -ms-interpolation-mode: bicubic;
}

canvas{
  outline:0;
}

.MuiInputBase-input-24 {
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}